  <body>
    <h1>Message #42</h1>
    <h2>Hello World</h2>

    <form action="/flag">
      <fieldset>
        <legend>Flag message as:</legend>
        <ul>
          <li>
            <input type="radio" id="priority" name="flag" value="priority" checked />
            <label for="priority">priority</label>
          </li>
          <li>
            <input type="radio" id="spam" name="flag" value="spam" />
            <label for="spam">spam</label>
          </li>
          <li>
            <input type="radio" id="archived" name="flag" value="archived" />
            <label for="archived">archived</label>
          </li>
        </ul>

        <button type="submit">Submit</button>
      </fieldset>
    </form>
  </body>

