<body class="viewport-centered text-centered">
  <main>
   <div class="check">&#10004;</div>
   <h2 class="no-margin">Thank you <%= name %>!</h2>
   <p class="no-margin">We'll be in touch when we launch.</p>
  </main>
</body>
